.main-title {

    text-align: center;
}

.inventory-screen-title, .add-screen-title {

    text-align: center;
}

.inventory-list {

    list-style-type: none;
    margin: 0;
    padding: 0;
}
.inventory-item {

    padding-top: 1.5%;
    padding-bottom: 1.5%;

};

.search-bar {

    padding-bottom: 1.5%;
}